.button {
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font: var(--button);
    padding-inline: 1.5rem;
    padding-block: 0.8125rem;
    letter-spacing: 1.25px;
    background: var(--primary);
    color: var(--white);
    text-decoration: none;
    text-align: center;
    display: block;
}
.button.is-secondary{
    background: transparent;
    color: var(--primary);
    border: 3px solid var(--primary);
}